.bg-img{
    background-image: url("../assent/bg-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: blueviolet;
}
@media(min-width: 576px){
    .bg-img{
        background-image: url("../assent/bg-mobile.svg");
    }
}
.texto-btn{
    color: blueviolet;
}
.btn{
    color: blueviolet;
    background-color: white;
}
.btn:hover{
    background-color: coral;
    color: white;
}